@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
    box-sizing: border-box;
    outline: none;
}

body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    background: #270000;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

body::before {
    content: '';
    background-image: url('');
    background-color: #4d0009;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    filter: brightness(.8) contrast(1.1) blur(0);
    z-index: -1;
}

/* Scrollbars */
body::-webkit-scrollbar {
    display: none;
}

#scrollwrap {
    overflow-y: scroll;
    height: 100vh;
}

#scrollwrap::-webkit-scrollbar {
	width: 14px;
}

#scrollwrap::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	border: 3px solid transparent;
	background-clip: padding-box;
}

#scrollwrap::-webkit-scrollbar-track {
	background: transparent;
}
