.bd-scroller {
    overflow-x: hidden;
    width: 100%;
}

.bd-scroller.bd-thinner::-webkit-scrollbar {
	width: 8px;
}

.bd-scroller::-webkit-scrollbar {
	width: 14px;
}

.bd-scroller::-webkit-scrollbar-thumb {
	background-color: rgba(var(--bd-scrollbar-track-piece), 0.5);
	border-radius: 10px;
	border: 3px solid transparent;
	background-clip: padding-box;
}

.bd-scroller::-webkit-scrollbar-track,
.bd-scroller::-webkit-scrollbar-track-piece  {
	background: var(--bd-scrollbar);
    border-color: var(--bd-scrollbar);
}

.bd-scroller.bd-hidden::-webkit-scrollbar {
    width: 0;
}