@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

@font-face {
    font-family: Whitney;
    src: url('whitney.otf');
}

@font-face {
    font-family: Uni Sans;
    src: url('Uni\ Sans.otf');
}