.bd-base .bd-sidebar .bd-privateChannels .bd-channel {
    height: 42px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    margin: 2px 6px;
    padding: 1px 8px;
    transition: .3s;
    user-select: none;
}

/* these aren't listItems */
/* check guilds.css lol */
/* yeah but guilds.css isn't gonna be adding this class to the elems lmao */
.bd-base .bd-sidebar .bd-privateChannels .bd-channel.bd-selected,
.bd-base .bd-sidebar .bd-privateChannels .bd-channel.bd-selected:hover {
    background: rgba(var(--bd-default), .4);
}

.bd-base .bd-sidebar .bd-privateChannels .bd-channel:hover {
    background: rgba(var(--bd-default), .2);
}

.bd-base .bd-sidebar .bd-privateChannels .bd-channel .bd-avatar {
    width: 32px;
    height: 32px;
    margin-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bd-base .bd-sidebar .bd-privateChannels .bd-channel .bd-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.bd-base .bd-sidebar .bd-privateChannels .bd-channel .bd-content {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
}

.bd-base .bd-sidebar .bd-privateChannels .bd-channel .bd-content .bd-username {
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.bd-base .bd-sidebar .bd-privateChannels .bd-channel .bd-content .bd-status {
    margin-top: -2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
}

.bd-base .bd-sidebar .bd-privateChannels .bd-channel .bd-content .bd-status .bd-status-name {
    font-weight: bold;
}

.bd-base .bd-sidebar .bd-privateChannels .bd-header {
    display: flex;
    padding: 18px 8px 4px 14px;
    height: 40px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
}