.bd-wrapper > .bd-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 25px;
    background: rgba(255, 255, 255, .1);
}

.bd-wrapper > .bd-header .bd-headerLeft,
.bd-wrapper > .bd-header .bd-headerRight {
    font-size: 14px;
    color: white;
}

.bd-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bd-logoInner {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bd-text {
    background: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent;
    font-size: 20px;
    font-family: Uni Sans;
    letter-spacing: 3px;
    transform: translateY(2px);
    margin-left: 2px;
}

.bd-headerRight .bd-download {
    border: 2px solid rgba(255, 255, 255, 0.8);
    padding: 5px 15px;
    border-radius: 20px;
}