* {
    box-sizing: border-box;
    outline: none;
}

body {
    background: #380831;
    color: white;
    font-family: Whitney, 'Josefin Sans', sans-serif;
    margin: 0;
}

body::before {
    content: '';
    background-image: url('https://cdn.discordapp.com/attachments/595506142126538753/602478618001801216/Hopal.png');
    background-color: #380831;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    filter: brightness(1) contrast(1.1) blur(10px);
    z-index: -1;
}