.bd-wrapper .bd-picker {
    flex-shrink: 0;
    padding: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bd-wrapper .bd-picker .bd-pickerSet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    width: 300px;
    margin: 5px 100px;
}

.bd-wrapper .bd-picker .bd-pickerSet .bd-pickerValue {
    padding: 3px;
    background: rgba(255, 255, 255, .1);
}

.bd-wrapper .bd-picker .bd-pickerSet .bd-pickerValue .bd-colorPreview {
    width: 50px;
    height: 20px;
}