.bd-wrapper .bd-picker {
    flex-shrink: 0;
    padding: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.bd-wrapper .bd-picker .bd-pickerTitle { 
    margin: 5px 10px;
    padding-bottom: 4px;
    border-bottom: 2px solid rgba(255, 255, 255, .3);
    font-variant: all-small-caps;
    font-size: 30px;
    font-weight: 500;
}

.bd-wrapper .bd-picker .bd-pickerSetWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bd-wrapper .bd-picker .bd-pickerText {
    margin-bottom: 50px;
}

.bd-wrapper .bd-picker .bd-pickerText .bd-pickerSet {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.bd-wrapper .bd-picker .bd-pickerText .bd-pickerSet .bd-pickerName {
    padding: 0 0 3px 1px;
    display: flex;
    align-items: center;
}

.bd-wrapper .bd-picker .bd-pickerText .bd-pickerSet .bd-pickerName .material-icons {
    font-size: 12px;
    margin-left: 3px;
    cursor: pointer;
}

.bd-wrapper .bd-picker .bd-pickerText .bd-pickerSet .bd-pickerValue {
    width: 100%;
    display: flex;
    align-items: center;
}

.bd-wrapper .bd-picker .bd-pickerText .bd-pickerSet .bd-pickerValue.bd-pickerInline {
    background: transparent;
}

.bd-wrapper .bd-picker .bd-pickerText .bd-pickerSet .bd-pickerValue.bd-pickerInline .bd-input {
    background: rgba(255, 255, 255, .1);
    padding: 0;
}

.bd-wrapper .bd-picker .bd-pickerText .bd-pickerSet .bd-pickerValue.bd-pickerInline > div {
    width: 100%;
    display: flex;
    align-items: center;
}

.bd-wrapper .bd-picker .bd-pickerText .bd-pickerSet .bd-pickerValue .bd-editIcon {
    font-size: 20px;
}

.bd-wrapper .bd-picker .bd-pickerSet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    width: 300px;
    margin: 5px 0;
}

.bd-wrapper .bd-picker .bd-pickerSet .bd-pickerName {
    text-transform: uppercase;
    width: fit-content;
}

.bd-wrapper .bd-picker .bd-pickerSet .bd-pickerValue {
    padding: 3px;
    background: rgba(255, 255, 255, .1);
}

.bd-wrapper .bd-picker .bd-pickerSet .bd-pickerValue .bd-colorPreview {
    width: 50px;
    height: 20px;
}

.bd-wrapper .bd-picker .bd-pickerSet .bd-pickerValue .bd-input {
    background: transparent;
    color: white;
    border: none;
    width: 100%;
    height: 20px;
    display: flex;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 2px;
    font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
}