body > .bd-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bd-wrapper .bd-appMountWrapper {
    width: calc(1280px * .7);
    height: calc(720px * .7);
    margin: 50px;
}

.bd-wrapper .bd-appMountWrapper #app-mount {
    display: block;
    position: relative;
    flex-shrink: 0;
    width: 1280px;
    height: 720px;
    transform: scale(.7);
    transform-origin: left top;
    top: initial;
    bottom: initial;
    left: initial;
    right: initial;
}